.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 700px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #415dda;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #3a7dc9;
}

.my-container-outer {
  border: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#myInput {
  width: 400px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid rgb(42, 45, 185);
  margin-bottom: 12px;
}

.my-container-row {
  border: 3px;
  padding: 20px;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
